@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400&display=swap');

$color-success: #4F80B2;
$color-highlight: #646464;
$color-baseline: rgb(100, 100, 100);
$color-disabled: #bbb;
$color-secondary: #f4b82b;
$color-hint: rgb(214, 214, 214); 
$p-size: 1.06rem;
$h3-size: 1.24rem;

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
}

#root {
  height: 100%;
  width: 100%;
}

h1, h2, h3, p {
  margin-block-start: 0;
  margin-block-end: 0;
  font-weight: 400;
}

h3 {
  font-size: $h3-size;
}

p {
  font-size: $p-size;
}

a {
  text-decoration: none;
}

form {
  width: 100%;
}

input[type=text] {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 4px solid $color-baseline;
  padding: 4px 15px;
  text-align: center;
  font-size: $h3-size;
  margin: 0;
  color: #555;

  &:focus {
    outline: none;
    border-bottom: 4px solid $color-success;
  }

  &::selection {
    color: #fff;
    background: $color-success; 
  }
}

.logo {
  position: absolute;
  transform: translate(-212px, -265px) rotate(-16deg);
}

.logo img {
  width: 70px;
}

.overlay {
  position: absolute;
  z-index: 7;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-view {
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../assets/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.start-content {
  width: 940px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.lettering {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .text-container {
    padding: 0 15px;
    margin: 10px 0;
    background: $color-success; 
    width: min-content;

    h1 {
      font-size: 4.6rem;
      line-height: 1.1;
      color: #fff;
    }
  }
}

.floating-container {
  width: 422px;
  height: 522px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(245, 245, 245);

  .content {
    width: 351px;
    height: 85%;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .options {
      width: 85%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .column {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 15px 0;
    }

    .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 15px 0;
    }
  }
  
  .content.centered-vertical {
    justify-content: center;
  }
}

.blurb {
  text-align: center;
  color: $color-baseline;
  margin: 5px;
}

.button {
  position: relative;
  margin: 8px;
  padding: 0 16px;
  width: calc(100% - 32px);
  height: 63px;
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  color: $color-highlight;
  border: none;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    background: $color-success;
    height: 0;
    transition: all 150ms ease-out;
    -webkit-transition: all 150ms ease-out;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -2;
    left: 0;
    right: 0;
    bottom: 0;
    background: $color-hint; 
    height: 4px;
    transition: all 300ms ease-out;
    -webkit-transition: all 300ms ease-out;
  }

  &:focus {
    outline: none;
  }

  &:hover::before, 
  &:focus::before,
  &.active::before {
    outline: none;
    height: 4px;
  }

  &.small {
    margin: 0;
    width: calc(30% - 32px);
    flex-direction: column;
    justify-content: center;
  }

  &.small p {
    font-size: 1rem;
  }

  &.play {
    padding: 0 30px;
    justify-content: center;
    height: 45px;
    width: 140px;
    margin: 0;
    margin-top: 5px;
    background: $color-success;
    color: #fff;

    &.full-width {
      margin: 0;
      height: 90%;
      width: 100%;
    }

  }

  &.play::after {
    background: $color-success;
  }

  &.play::before {
    background: $color-secondary;
  }

  &.disabled {
    color: $color-highlight;
    background: $color-disabled;
    cursor: default;
    pointer-events: none;
  }

  &.disabled::after {
    background: $color-hint;  
  }

  &.ready {
    color: $color-highlight;
    background: #d6ec73;

    &::after {
      background: $color-hint;
    }
  }
}

.centered-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.user-name-form {
  width: 80%;
  max-width: 225px;
  margin: 30px;

  .button.play {
    margin-top: 15px;
  }
}

ul.user-list {
  padding-inline-start: 0;
  list-style-type: none;
  width: 100%;
  height: 250px;
  overflow-y: scroll;
  background: #fff;

  li {
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;

    &:hover {
      background: #eee; 
    }

    img {
      width: 64px;
      height: 40px;
    }
  }
}

