@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400&display=swap');

:root {
  --default-map-height: 20%;
  --color-success: #d6ec73;
  --color-success-hint: #c7d391;
  --color-highlight: #F4B82B;
  --p-size: 1.06rem;
  --h3-size: 1.24rem;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
}

#root {
  height: 100%;
  width: 100%;
}

h1, h2, h3, p {
  margin-block-start: 0;
  margin-block-end: 0;
  font-weight: 400;
  color: #646464;
}

h3 {
  font-size: var(--h3-size);
}

p {
  font-size: var(--p-size);
}

a {
  text-decoration: none;
}

.logo {
  position: absolute;
  transform: translate(-212px, -265px) rotate(-16deg);
}

.logo img {
  width: 70px;
}

.overlay {
  position: absolute;
  z-index: 7;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-view {
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../assets/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.start-content {
  width: 940px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.lettering {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lettering .text-container {
  padding: 0 15px;
  margin: 10px 0;
  background: #4F80B2; 
  width: min-content;
}

.text-container h1 {
  font-size: 4.6rem;
  line-height: 1.1;
  color: #fff;
}

.floating-container {
  width: 422px;
  height: 522px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(245, 245, 245);
}

.floating-container .content {
  width: 351px;
  height: 85%;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.content .options {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content .column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0;
}

.content .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0;
}

.blurb {
  text-align: center;
}

.mode-button {
  margin: 8px;
  padding: 0 16px;
  width: calc(100% - 32px);
  height: 63px;
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  color: #646464;
  border-bottom: 4px solid #888;
}

.mode-button > img {
  height: 45%;
}

.mode-button:hover {
  border-bottom: 4px solid #646464;
}

.mode-button.selected {
  border-bottom: 4px solid #4F80B2;
}

.mode-button.small {
  margin: 0;
  width: calc(30% - 32px);
  flex-direction: column;
  justify-content: center;
}

.mode-button.small p {
  font-size: 1rem;
}

.mode-button.play {
  width: 120px; 
  height: 45px;
  justify-content: center;
  margin: 0;
  margin-top: 5px;
}

.centered-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.app-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.g-container {
  position: relative;
  flex: 10;
}

#pano {
  height: calc(100% - var(--default-map-height));
}

.map-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  top: 0;
  position: absolute;
  z-index: 5;
  pointer-events: none;
}

.map-container {
  position: relative;
  height: var(--default-map-height);
  pointer-events: auto;
  transition: 300ms;
}

#map {
  width: 100%;
  height: 100%;
}

.info-bar {
  flex: 1;
  display: flex;
  width: 100%;
  height: 100%;
}

.info-bar .s1 {
  width: 100%;
  height: 100%;
  flex: 1;
}

.info-bar .centered-items {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.expand-btn-wrapper {
  position: absolute;
  z-index: 6;
  width: 100%;
  margin-top: -16px;
  display: flex;
  justify-content: center;
  pointer-events: none;
}

.pill-btn {
  pointer-events: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  background: white;
  padding: 4px 10px;
  border-radius: 20px;
  cursor: pointer;
  transition: 200ms;
}

.pill-btn:hover {
  background: #ecd873;   
}

.location-card-wrapper {
  position: absolute;
  z-index: 6;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: flex;
  align-items: center;
}

.card {
  margin: 40px;
  width: 300px;
  height: 480px;
  pointer-events: auto;
  background: #fff;
  box-shadow: 0 0 8px #999;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card .card-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid #eee;
  box-shadow: 0 0 3px #999;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.card-image img {
  height: 120px;
}

.guess-button {
  width: 100%;
  height: calc(80% - 3px); /* compensation for border-bottom (set dynamically)*/ 
  max-width: 512px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  transition: 200ms;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

