@import url('https://fonts.googleapis.com/css?family=PT+Sans');

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'PT Sans', sans-serif;
}

#root {
  height: 100%;
  width: 100%;
}

.app-container {
  height: 100%;
  width: 100%;
  
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr) 1.7fr 0.3fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

#pano {
  grid-area: 1 / 1 / 4 / 6;
}

#map {
  grid-area: 4 / 1 / 5 / 6;
}

.guess-box { 
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d6ec73;
  grid-area: 5 / 1 / 6 / 6;
  color: #333;
}
