@import url('https://fonts.googleapis.com/css?family=PT+Sans');

:root {
  --default-map-height: 20%;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'PT Sans', sans-serif;
}

#root {
  height: 100%;
  width: 100%;
}

.overlay {
  position: absolute;
  z-index: 7;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#start-page {
  height: 100%;
  width: 100%;
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

#start {
  width: 500px;
  height: 300px;
  box-shadow: 0 0 16px #ecf0f1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

#start-options {
  flex: 1;
}

#play-button-container {
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#play-button {
  width: 120px;
  height: 80%;
  background: #d6ec73;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 4px;
}

.app-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.g-container {
  position: relative;
  flex: 10;
}

#pano {
  height: calc(100% - var(--default-map-height));
}

.map-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  top: 0;
  position: absolute;
  z-index: 5;
  pointer-events: none;
}

.map-container {
  position: relative;
  height: var(--default-map-height);
  pointer-events: auto;
  transition: 300ms;
}

#map {
  width: 100%;
  height: 100%;
}

.info-bar {
  flex: 1;
  display: flex;
  width: 100%;
  height: 100%;
}

.info-bar .s1 {
  width: 100%;
  height: 100%;
  flex: 1;
}

.info-bar .centered-items {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.expand-btn-wrapper {
  position: absolute;
  z-index: 6;
  width: 100%;
  margin-top: -16px;
  display: flex;
  justify-content: center;
  pointer-events: none;
}

.pill-btn {
  pointer-events: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  background: white;
  padding: 4px 10px;
  border-radius: 20px;
  cursor: pointer;
  transition: 200ms;
}

.pill-btn:hover {
  background: #ecd873;   
}

.location-card-wrapper {
  position: absolute;
  z-index: 6;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: flex;
  align-items: center;
}

.card {
  margin: 40px;
  width: 300px;
  height: 480px;
  pointer-events: auto;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 8px #999;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card .card-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid #eee;
  box-shadow: 0 0 3px #999;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.card-image img {
  height: 120px;
}

.guess-button {
  width: 100%;
  height: calc(80% - 3px); /* compensation for border-bottom (set dynamically)*/ 
  border-radius: 6px;
  max-width: 512px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  transition: 200ms;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

