@import url('https://fonts.googleapis.com/css?family=PT+Sans');

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'PT Sans', sans-serif;
}

#root {
  height: 100%;
}

.app-container {
  height: 100%;
}

#pano {
  height: 100%;
}
